.actions {
	text-align: center;
	button, .button {
		display: inline-block;
		border:1px solid @color-blue;
		width: 100%;
		color: white;
		background-color: @color-blue;
		padding: .5em 2em;
		.rounded(8px);
		font-size: 1.3em;
		line-height: 1em;
		font-weight: 400;
		.transition(@element: all, @duration:0.2s, @ease:ease-out);
		cursor: pointer;
		&:hover {
			background-color: white;
			border-color: @color-link;
			color: @color-link;
		}
		&:disabled, &:hover:disabled {
			background-color: @color-gray;
			border: 1px solid @color-gray;
			color: white;
		}
	}
}
