#_public {
    #container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #main {
        padding-top: 7em;
        width: 90%;
        margin:0 auto;
        text-align: center;
        @media screen and (min-width: @tablet-size){
            padding-top: 10em;
            max-width: 75%;
        }
        @media screen and (min-width: @desktop-size){
            padding-top: 12em;
        }
        h1 {
            font-weight: 600;
            @media screen and (min-width: @tablet-size){
                font-size: 3em;
                line-height: 1em;
            }
            @media screen and (min-width: @desktop-size){
                font-size: 4em;
            }
        }
        p {
            @media screen and (min-width: @desktop-size){
                font-size: 1.4em;
                line-height: 1.2em;
            }
            &.gray-text {
                color: @color-lightgray;
            }
        }
    }
}

#_app {
    background-color: #0A4A89;
    #authentication {
        position: relative;
        min-height: 100vh;
        .section-header {
            h1 {
                margin-bottom: .3em;
                line-height: 1em;

            }
            p {
                text-align: center;
            }
        }
        #credentials {
            background-color: white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 3em 1.5em 1.5em;
            left: 10%;
            right: 10%;
            .rounded(25px);
            z-index: 1;
            max-width: 300px;
            min-width: 300px;
            h1 {
                color: #0A4A89;
                font-weight: 600;
            }
            &:after {
                content: "";
                width: 100%;
                height: 75px;
                position: absolute;
                top: -35px;
                left: 0;
                z-index: 2;
                background: transparent url(/assets/img/pockits-logo.svg) no-repeat center center;
                background-size: 75px 75px;
            }
        }
    }
    [role="alert"]{
        padding-top: .2em;
        > div {
            color: @color-red;
            font-size: .8em;
        }
    }
}
