<section id="authentication">
	<div id="credentials" class="container" ng-init="initForm()">
		<header class="section-header">
			<h1>Sign In</h1>
		</header>
		<section class="body-content">
			<form name="accountLogin" ng-show="state.status === 'not-submitted'">

				<div class="row">
					<input type="email" ng-class="{ 'has-data' : data.email.length > 0 }" name="email" ng-model="data.email" required="required" placeholder="Email Address" />
					<div ng-messages="accountLogin.email.$error" ng-show="accountLogin.email.$touched" role="alert">
						<div ng-message="required">Your email address is required</div>
						<div ng-message="email">Must be a valid email address</div>
					</div>
				</div>
				<div class="row">
					<input type="password" ng-class="{ 'has-data' : data.password.length > 0 }" name="password" ng-model="data.password" ng-minlength="8" required="required" placeholder="Password" />
					<div ng-messages="accountLogin.password.$error" ng-show="accountLogin.password.$touched" role="alert">
						<div ng-message="required">A password is required</div>
						<div ng-message="minlength">Your password must be at least 8 characteres</div>
					</div>
				</div>
				<div class="row">
					<div class="actions row">
						<button type="submit" ng-disabled="accountLogin.$invalid" ng-click="loginUser(data)">Login</button>
					</div>
					<div class="centered">
						<div class="row"><a href="/app/#!/register">Sign Up &rsaquo;</a></div>
					</div>
				</div>
			</form>

			<section class="module form error" ng-show="state.status === 'error'">
				<header><h1>Try again later</h1></header>
				<section>
					<p>Looks like we had an error signing you into your account.  Try again later.</p>
					<p><a href="/app/#!/">Return to the Homepage</a></p>
				</section>
			</section>

		</section>
	</div>
</section>
<div class="loading" ng-class="{'active' : state.status === 'loading'}"></div>
