<div class="container" ng-init="initForm()">
	<div class="padded">
		<header class="section-header">
			<h1>Account Login</h1>
		</header>
		<section class="body-content">
			<form name="accountLogin" ng-show="state.status === 'not-submitted'">
				
				<div class="row">
					<p>Enter your email address and password to login</p>
					<div class="alerts row">
						<p>{{state.message}}</p>
					</div>
				</div>
				
				<div class="row">
					<input type="email" ng-class="{ 'has-data' : data.email.length > 0 }" name="email" ng-model="data.email" required="required" />
					<label for="email">Email Address</label>
				</div>
				<div class="row">
					<input type="password" ng-class="{ 'has-data' : data.password.length > 0 }" name="password" ng-model="data.password" required="required" />
					<label for="password">Password</label>
				</div>
				<div class="row">
					<div class="actions row">
						<button type="submit" ng-disabled="accountLogin.$invalid" ng-click="loginUser(data)">Login</button>
					</div>
					<div class="centered">
						<div class="row"><a href="/#!/register">Create new account &raquo;</a></div>
					</div>
				</div>
			</form>
			<section class="module form error" ng-show="state.status === 'error'">
				<header><h1>Try again later</h1></header>
				<section>
					<p>Looks like we had an error signing you into your account.  Try again later.</p>
					<p><a href="/#!/">Return to the Homepage</a></p>
				</section>
			</section>
		</section>
	</div>
</div>

<div class="loading" ng-class="{'active' : state.status === 'loading'}"></div>
